<h3> Add a review to that book </h3>

<%= simple_form_for([@book, @book.reviews.build]) do |f| %>
    <div id="rating-form">
        <label> Rating </label> <br>
    </div>
    <%= f.input :comment, label: "Comment" %>
    <%= f.submit %>
<% end %>

<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>