<h3> Edit review </h3>

<%= simple_form_for([@book, @review]) do |f| %>
<div id="rating-form">
    <label> Rating </label> <br>
</div>
<%= f.input :comment %>
<%= f.button :submit %>
<% end %>

<script>
        $('#rating-form').raty({
            path: '/assets/',
            scoreName: 'review[rating]'
        });
    </script>